/* Estilos para StockTable */

thead th {
  background-color: #cacaca;
  padding: 8px 10px; /* Reducir el padding para menos borde arriba y abajo */
  border: 1px solid #ddd;
}

.table-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stock-table input,
.stock-table select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
}

td {
  padding: 8px 10px; 
  border: 1px solid #ddd;
  text-align: center; 
  vertical-align: middle; 
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Establecer ancho fijo para inputs y selects en columnas específicas */
.stock-table td input[type="number"],
.stock-table td select {
  width: 90px; /* Ajusta el ancho según sea necesario */
}
