/* Asegúrate de que el contenedor principal ocupe toda la altura de la página */
body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Toma todo el espacio disponible */
}

.buttons-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: auto; /* Empuja el contenedor de botones hacia el final */
  padding: 20px; /* Espacio alrededor del contenedor de botones */
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Estilos para cada formulario de carga de stock */
.stock-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los subcontenedores dentro del formulario */
.stock-form .subcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Estilos para los inputs y selects */
.stock-form input[type="text"],
.stock-form input[type="number"],
.stock-form select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Estilos para las etiquetas */
.stock-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilos para la información del marco */
.stock-form .marco-info {
  margin-top: 10px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 4px;
}

.stock-form .marco-info p {
  margin: 5px 0;
}