@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

/* Estilos para el contenedor principal */
.app-container {
  background-color: #f0f0f0;
  overflow: scroll;
  display: block;
  padding: 20px;
  box-sizing: border-box; /* Incluye el padding en el cálculo de la altura */
  transition: margin 0.5s;
  margin-left: 0; /* Sin margen izquierdo */
  margin-top: 60px; /* Ajustar para que no se superponga con la navbar horizontal */
  height: calc(100vh - 60px); /* Ajusta la altura para que el contenido ocupe el espacio restante */
}

/* Ajustes para pantallas pequeñas (navbar lateral) */
@media (max-width: 768px) {
  .app-container {
    margin-left: 60px; /* Ajustar para que no se superponga con la navbar lateral */
    margin-top: 0; /* Sin margen superior */
  }
}

/* Contenedor con scroll */
.scroll-container {
  max-height: 80vh; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Habilita el scroll vertical */
  padding: 10px; /* Opcional: agrega padding para mejor apariencia */
}